#wrap, 
#header, 
#page, 
#footer, 
.index #top, 
.index .slider, 
.index .slider .inner_slider, 
.index .nav, 
.index table, 
#epage, 
#epage .text_box{
	min-width: inherit;
}
.navbar-toggle{
	display: none;
}
#content{
	box-sizing: border-box;
}
ul{
	&.gallery{
		li{
			.pic{
				img{
					max-height: 100%;
					box-sizing: border-box;
				}
			}
		}
	}
}
.slider_nav{
	display: none;
}
.table{
	height: 0;
	overflow: hidden;
}
.feedback{
	display: none;
}
.services_more, .news_more{
	display: none;
}
#header{
	nav{
		li{
			ul{
				display: none;
			}
			&.full_site, &.page_action{
				display: none;
			}
		}
	}
	.tel{
		a{
			color: #797979;
			text-decoration: none;
			font-family: 'Conv_Europe Normal', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
		}
		p{
			padding-bottom: 0;
		}
	}
}
.close-nav{
	display: none;
	position: absolute;
	background: url('../img/close.png');
	background-size: cover;
	top: 12px;
	right: 12px;
	width: 25px;
	height: 25px;
	cursor: pointer;
}

body{
	ul{
		&.portfolio_best {
			padding-bottom: 20px;
			&:after{
				margin-bottom: -35px;
			}
		}
	}
}
#footer{
	ul{
		&.info{
			padding-right: 110px;
		}
	}
}
.mobile-show{
	display: none;
}
.mobile-hide{
	display: block !important;
}
.mobile-show{
	display: none !important;
}
img.mobile-hide{
	display: inline !important;
}
img.mobile-show{
	display: none !important;
}
.text{
	position: relative;
	h1{
		color: #5b5b5b;
		font-size: 18px;
		font-weight: 400;
		line-height: 1;
		text-transform: uppercase;
		margin-bottom: 10px;
		padding: 0;
		white-space: normal;
	}
	h2{
		color: #5b5b5b;
		font-size: 14px;
		font-weight: 400;
		line-height: 1;
		text-transform: uppercase;
		margin-bottom: 10px;
		padding: 0;
		white-space: normal;
	}
	h3{
		color: #515151;
		font-size: 14px;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 10px;
		padding: 0;
		white-space: normal;
	}
}
.info_box{
	display: none;
	position: relative;
	background: #fff;
	color: #515151;
	font-size: 14px;
	line-height: 22px;
	text-align: center;
	box-shadow: 0 2px 5px rgba(0,0,0,0.5);
	padding: 10px 20px;
	p{
		margin: 0;
		padding: 0;
	}
	a{
		color: #3f79ac;
		font-weight: 700;
	}
}
#epage{
	display: table;
	width: 100%;
	margin: 0;
	padding: 0;
}
	.epage_box{
		position: relative;
		display: table-cell;
		vertical-align: middle;	
	}
@media only screen and (max-width:1199px){
	#footer{
		ul{
			&.info{
				li{
					padding-right: 30px;
				}
			}
		}
	}
	h1{
		&.title{
			font-size: 26px;
		}
	}
}
@media only screen and (max-width:1023px) {
	.close-nav{
		display: block;
	}
	#header{
		height: 110px;
		line-height: 1;
		overflow: visible;
		&:after{
			content: '';
			display: table;
			clear: both;
		}
		.logo, .tel{
			top: 15px;
		}
		.tel{
			right: 100px;
		}
		nav{
			display: none;
			position: absolute;
			background: #f4f4f4;
			left: 10px;
			right: 10px;
			top: 10px;
			text-align: left;
			border-radius: 3px;
			border: 1px solid #ccc;
			box-shadow: 0 2px 1px rgba(0,0,0,0.5);
			padding-right: 0;
			z-index: 1000;
			ul{
				padding: 0;
				li{
					position: relative;
					display: block;
					height: auto;
					font-size: 16px;
					line-height: 1.2;
					border: 0;
					padding: 0;
					padding-left: 20px;
					margin: 10px 0 0;
					&:before{
						content: '';
						position: absolute;
						left: 0;
						top: 3px;
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 6px 0 6px 8px;
						border-color: transparent transparent transparent #d9920a;
					}
					&.active{
						&>a{
							color: #70a559;
						}
					}
					&.full_site, &.page_action{
						display: block;
					}
					&.full_site{
						&:before{
							content: none;
						}
						a{
							font-size: 14px;
						}
					}
					a, span{
						font-size: 16px;
						line-height: 1.2;
						padding: 0;
					}
					ul{
						display: block;
					}
				}
			}
			&>ul{
				padding: 15px 15px;
				&>li{
					font-size: 18px;
					margin: 0 0 15px;
					&>a, &>span{
						font-size: 18px;
					}
				}
			}
		}

		.adres_printable{
			margin-top: 15px;
		}
	}
		.navbar-toggle{
			display: block;
			position: absolute;
			background: url('../img/navbar.png');
			background-size: 100% 200%;
			background-position: center top;
			right: 15px;
			top: 15px;
			width: 40px;
			height: 40px;
			cursor: pointer;
			&:hover{
				background-position: center bottom;
			}
		}
	.head-services{
		display: none;
	}
	ul{
		&.gallery_small{
			display: none;
		}
		&.gallery{
			li{
				margin-bottom: 15px;
				.pic{
					margin-bottom: 0;
					img{

					}
				}
			}
		}
		&.news{
			li{
				margin-bottom: 10px;
			}
		}
		&.services{
			li{
				display: block;
				width: auto;
				padding-left: 15px;
				margin: 0;
				margin-bottom: 15px;
				&:before{
					content: url('../img/m2.jpg');
					position: absolute;
					top: 5px;
					left: 4px;
				}
				.pic{
					display: inline-block;
					font-size: 16px;
					text-decoration: underline;
					-moz-text-decoration-color: #cfd6dc;
    				text-decoration-color: #cfd6dc;
					border: 0;
					box-shadow: none;
					img{
						display: none;
					}
					&:hover{
						text-decoration: none;
					}
				}
				span{
					position: relative;
					background: transparent;
					width: auto;
					max-height: none;
					color: #326894;
					line-height: 16px;
					text-shadow: none;
					text-align: left;
					border: 0;
					padding: 0;
				}
			}
		}
		&.steps{
			display: none;
		}
	}
	body{
		h3{
			line-height: 24px;
			white-space: normal;
			img{
				float: left;
			}
			span{
				display: inline;
			}
		}
		.video{
			margin-right: 20px;
			margin-bottom: 10px;
		}
		.video_box{
			padding-bottom: 15px;
		}
		.examples{
			display: none;
		}
		ul{
			&.cnt_menu{
				li{
					position: relative;
					margin-right: 20px;
					&:before{
						content: url('../img/m2.jpg');
						position: absolute;
						top: 3px;
						left: 4px;
					}
					a, a.active, span{
						background: transparent;
						padding-left: 15px;
					}
				}
			}
			&.portfolio{
				width: auto;
				margin: 0 0 30px;
				padding: 0;
				li{
					width: 235px;
					margin: 15px 15px;
					.pic{
						width: 235px;
						height: 170px;
					}
				}
			}
			&.portfolio_best {
				&:after{
					margin-bottom: -15px;
				}
				li{
					&:last-child{
						display: none;
					}
				}
			}
		}
	}
	.index{
		.slider{
			ul{
				li{
					.text{
						.inner{
							h2{
								padding: 0px 0 0px 25px;
							}
							p{
								height: 200px;
								line-height: 22px;
								padding: 0 10px 0 25px;
							}
						}
					}
					.menu{
						div{
							padding: 5px 15px 0 30px;
							box-sizing: border-box;
							a{
								line-height: 16px;
								white-space: normal;
							}
						}
					}
				}
			}
		}
		.nav{
			ul{
				&.pictogramms{
					width: 62%;
					white-space: nowrap;
					overflow-x: auto;
				}
			}
		}
	}
	#footer{
		margin-top: -210px;
		ul{
		 	&.info{
		 		li{
		 			&:nth-of-type(2){
		 				padding-right: 125px;
		 			}
		 		}
		 	}
		}
		.client-code{
			right: 20px;
		}
	}
	#epage{
		.text_box{
			height: auto;
		}
		.inner{
			width: 100%;
			white-space: normal;
			text-align: center;
			padding-left: 0;
			box-sizing: border-box;
			img{
				display: inline-block;
			}
			.text{
				display: block;
				padding: 0;
				margin-bottom: 30px;
			}
		}
	}
	.empty{
		height: 210px;
	}
	.index{
		#side{
			display: block;
		}
		#content{
			width: 73%;
			padding-right: 0;
		}
	}
	.contact_box{
		.contact_block{
			.text{
				width: 335px;
			}
		}
	}
	.contact_text{
		display: none;
	}
	.news{
		p{
			margin-bottom: 10px;
		}
	}
	.callback_form{
		display: none;
	}
	.empty_box{
		padding-top: 150px;
		padding-left: 0;
	}
}

@media only screen and (max-width:759px) {
	#wrap{
		min-height: auto;
	}
	body{
		.video{
			float: none;
			width: auto;
			margin-right: 0;
			margin-bottom: 20px;
			a{
				width: 100%;
			}
		}
		.video_box{
			padding-bottom: 20px;
		}
		ul{
			&.portfolio_best, &.portfolio.portfolio_best{
				width: auto;
				height: auto;
				text-align: center;
				padding: 0.1px 0;
				margin: 0 -20px 30px;
				overflow: visible;
				li{
					display: block;
					width: 260px;
					margin: 0 auto;
					padding: 25px 0;
					&:last-child{
						display: block;
					}
					.pic{
						width: auto;
						height: 185px;
					}
				}
			}
			&.portfolio{
				text-align: center;
				overflow: hidden;
				li{
					display: block;
					width: 260px;
					margin: 25px auto;
					&:first-child{
						margin-top: 0;
					}
					.pic{
						display: block;
						width: auto;
						height: 185px;
						img{
							width: 100%;
						}
						a, span{
							&.title{
								i{
									background: url('../img/photo.png');
									background-size: 100%;
									background-repeat: no-repeat;
								}
							}
						}
					}
				}
			}
			&.portfolio-more{
				height: 255px;
			}
			&.services{
				li{
					a{
						font-size: 18px;
					}
					span{
						font-size: 18px;
						line-height: 20px;
					}
				}
			}
			&.cnt_menu{
				li{
					&:before{
						top: 0;
						left: 0;
					}
					display: block;
					margin-right: 0;
					margin-bottom: 15px;
					a, span, a.active{
						font-size: 18px;
						line-height: 20px;
						padding-left: 12px;
					}
				}
			}
			&.news{
				li{
					&:nth-child(n+3){
						display: none;
					}
				}
			}
		}
		.news_more{
			display: block;
			text-align: center;
			padding-bottom: 20px;
			margin-bottom: 20px;
			a{
				position: relative;
				display: inline-block;
				vertical-align: top;
				font-size: 16px;
				text-decoration: none;
				border-bottom: 1px dotted;
			}
		}
		.services_more{
			display: block;
			text-align: center;
			padding-bottom: 20px;
			margin-bottom: 20px;
			a{
				position: relative;
				display: inline-block;
				vertical-align: top;
				font-size: 16px;
				text-decoration: none;
				border-bottom: 1px dotted;
				&:before{
					content: '';
					position: absolute;
					background: url('../img/arr-more.png');
					left: 50%;
					bottom: -20px;
					width: 13px;
					height: 14px;
					margin-left: -6px;
				}
			}
		}
		h2{
			&.portfolio-title{
				vertical-align: top;
				padding-left: 10px;
				margin-right: 5px;
			}
		}
		a{
			&.see-all-works{
				vertical-align: top;
				font-size: 0;
				border: 0;
				margin-top: 0;
			}
		}
		.bg_box{
			padding: 15px 20px;
			margin: 0 -20px 20px;
		}
		p{
			margin-bottom: 10px;
			img{
				&.fleft, &.fright{
					display: block;
					float: none;
					margin: 0 auto 20px;
				}
			}
		}
	}
	#header{
		height: 80px;
		padding: 15px 20px;
		box-sizing: border-box;
		.logo{
			top: 15px;
			left: 20px;
			color: #4a84b2;
			img{
				max-width: 110px;
			}
			span{
				text-decoration: underline;
			}
		}
		.tel{
			display: none;
		}
		.navbar-toggle{
			right: 20px;
			width: 35px;
			height: 35px;
		}
		nav{
			top: 10px;
			left: 15px;
			right: 15px;
			box-shadow: 0 0 7px #ccc;
		}
	}
	.close-nav{
		top: 12px;
		right: 12px;
		width: 20px;
		height: 20px;
	}
	#content{
		float: none;
		width: auto;
		padding: 0 20px 20px;
		table{
			display: none;
		}
	}
	#side, .index #side, .empty{
		display: none;
	}
	#footer{
		border-top: 0;
		margin-top: 0;
		&:before{
			content: '';
			position: absolute;
			background: #d3d3d3;
			top: 0;
			left: 20px;
			right: 20px;
			height: 1px;
		}
		ul{
			&.info{
				padding-left: 20px;
				padding-right: 100px;
				li{
					display: none;
					&:first-child{
						display: inline-block;
					}
				}
			}
		}
	}
	.google-info{
		display: none;
	}
	#epage{
		.inner{
			.text{
				text-align: left;
				padding: 0 20px;
			}
		}
	}
	#top{
		background: transparent;
		height: auto;
		.inner_top{
			display: none;
		}
		.breadcrumbs{
			position: relative;
			background: transparent;
			top: auto;
			left: auto;
			height: auto;
			line-height: 14px;
			a, img, span{
				margin-right: 2px;
			}
			.inner{
				padding-left: 20px;
			}
		}
	}
	.contact_box{
		.contact_block{
			margin-bottom: 15px;
			.text{
				float: none;
				width: auto;
			}
		}
		.map_box{
			float: none;
			width: auto;
			text-align: left;
			span{
				display: block;
				text-align: center;
			}
			.map{
				margin: 0 auto 2px;
			}
		}
	}
	div.pp_pic_holder, .pp_content{
		width: 100% !important;
	}
	h1{
		&.title{
			position: relative;
			top: auto;
			left: -20px;
			height: auto;
			font-size: 24px;
			line-height: 28px;
			padding: 5px 10px 0 20px;
			margin-bottom: 25px;
		}
	}
	ul{
		&.gallery{
			text-align: center;
			li{
				width: 180px;
				margin: 0 10px 10px;
				.pic{
					height: 180px;
					line-height: 180px;
				}
			}
		}
		&.projects{
			li{
				padding-bottom: 15px;
				.pic{
					display: none;
				}
				h3{
					margin-bottom: 0;
					i{
						line-height: 28px;
					}
				}
				p{
					padding-bottom: 0;
					padding-left: 35px;
				}
			}
		}
		&.project_vars{
			li{
				padding-left: 0;
				h3{
					margin-left: 0;
				}
				.pic{
					display: block;
					float: none;
					width: 180px;
					margin: 10px auto;
				}
				br{
					display: none;
				}
				p{
					span{
						display: block;
					}
				}
			}
		}
	}
	.index{
		#content{
			width: auto;
			padding-right: 20px;
		}
		.slider{
			ul{
				li{
					height: 280px;
					.pic{
						margin-left: -400px;
					}
					.text{
						position: absolute;
						background: #f0fbdd;
						height: auto;
						width: 100%;
						left: 0;
						bottom: 0;
						text-align: center;
						.inner{
							height: auto;
							h2{
								font-size: 22px;
								padding: 12px 0;
							}
							p{
								display: none;
							}
						}
					}
					.menu{
						display: none;
					}
				}
			}
		}
		.nav{
			display: none;
		}
		#header{
			height: 150px;
			.tel{
				display: block;
				right: auto;
				left: 15px;
				top: 70px;
				.client-code{
					display: none;
				}
			}
		}
		#top{
			height: 278px;
			.top{
				height: 280px;
			}
		}
	}
	.slider_nav{
		display: block;
	}
		.slider_arr{
			position: absolute;
			background: rgba(255,255,255,0.5);
			top: 50%;
			width: 30px;
			height: 95px;
			margin-top: -75px;
			z-index: 10;
			&:before{
				content: '';
				position: absolute;
				background-image: url('../img/slider-arr.png');
				background-repeat: no-repeat;
				left: 50%;
				top: 50%;
				width: 14px;
				height: 37px;
				margin-top: -19px;
			}
			&:hover{
				background: rgba(255,255,255,1);
			}
		}
			.arr_prev{
				left: 0;
				border-radius: 0 2px 2px 0; 
				&:before{
					background-position: left top;
					margin-left: -8px;
				}
				&:hover{
					&:before{
						background-position: left bottom;
					}
				}
			}
			.arr_next{
				right: 0;
				border-radius: 2px 0 0 2px;
				&:before{
					background-position: right top;
					margin-left: -6px;
				}
				&:hover{
					&:before{
						background-position: right bottom;
					}
				}
			}
	.table{
		position: relative;
		height: auto;
		padding: 0 40px;
		margin: 0 -20px 20px;
		.slick-arrow{
			position: absolute;
			background: url('../img/table-arr.png');
			background-repeat: no-repeat;
			top: 50%;
			width: 22px;
			height: 13px;
			font-size: 0;
			border: 0;
			border-radius: 0;
			box-shadow: none;
			margin-top: -6px;
			z-index: 50;
			&.slick-prev{
				left: 10px;
				background-position: left top;
				&:hover{
					background-position: left bottom;
				}
			}
			&.slick-next{
				right: 10px;
				background-position: right top;
				&:hover{
					background-position: right bottom;
				}
			}
			&.slick-disabled{
				display: none !important;
			}
		}
	}
		.table-box{
			position: relative;
		}
			.table-row{
				position: relative;
				display: table;
				width: 100%;
				&:nth-child(odd){
					.table-col{
						background: #f0e3c1;
						font-weight: 700;
					}
				}
			}
				.table-col{
					position: relative;
					display: table-cell;
					vertical-align: middle;
					border: 1px solid #c8c8c8;
					padding: 5px 10px;
				}

	.empty_box{
		padding-top: 20px;
	}
	#epage{
		background: transparent;
	}
	.feedback{
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		display: block;
		background: #4b83b2;
		color: #fff;
		font-size: 20px;
		text-align: center;
		padding: 8px 15px;
		img{
			vertical-align: text-top;
			max-width: 20px;
			margin-right: 10px;
		}
	}
	#wrap.index + #footer{
		margin-bottom: 50px;
	}
	.services_work, .services_production{
		display: none;
	}
	.mobile-hidden{
		display: none;
	}
	.mobile-show{
		display: block;
		text-align: center;
		img{
			max-width: 280px;
		}
	}
	.full-mobile{
		margin: 0 -20px;
	}
	.pp_pic_holder{
		left: 0 !important;
		margin-top: 0; 
	}
	a.pp_close{
		right: 0;
	}
	#pp_full_res iframe{
		width: 100%;
		height: 300px;
	}
	.mobile-hide{
		display: none !important;
	}
	.mobile-show{
		display: block !important;
	}
	img.mobile-hide{
		display: none !important;
	}
	img.mobile-show{
		display: inline !important;
	}
	.info_box{
		display: block;
	}
}
@media only screen and (max-width:440px){
	.pp_pic_holder{
		margin-top: -100px; 
	}
}